In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
#read in the csv's
city_data_to_load = "city_data.csv"
ride_data_to_load = "ride_data.csv"
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)
city_data_df.head()
#ride_data_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [3]:
#Get all the rows that contain null values.
#Make sure the driver_count column has an integer data type.
#Find out how many data points there are for each type of city.

city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          120 non-null    object
 1   driver_count  120 non-null    int64
 2   type          120 non-null    object
dtypes: int64(1), object(2)
memory usage: 2.9+ KB

In [4]:
# Get the unique values of the type of city.
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [7]:
# Get the number of data points from the Urban cities.
sum(city_data_df["type"]=='Urban')
sum(city_data_df["type"]=='Suburban')
sum(city_data_df["type"]=='Rural')

18

In [8]:
ride_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2375 entries, 0 to 2374
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   city     2375 non-null   object
 1   date     2375 non-null   object
 2   fare     2375 non-null   float64
 3   ride_id  2375 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 74.3+ KB

In [13]:
#merge city and ride df's together
#new_df = pd.merge(leftdf, rightdf, on=["column_leftdf", "column_rightdf"])

pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [14]:
#create a data frame for each city type
urban_cities_df = pyber_data_df[pyber_data_df["type"]=='Urban']
suburban_cities_df = pyber_data_df[pyber_data_df["type"]=='Suburban']
rural_cities_df = pyber_data_df[pyber_data_df["type"]=='Rural']
urban_cities_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
1620,Reynoldsfurt,2019-02-14 11:25:10,39.40,9070692324754,67,Urban
1621,Christopherfurt,2019-03-13 01:47:52,32.05,2788817929605,41,Urban
1622,Raymondhaven,2019-03-20 02:20:34,38.53,8658255136559,11,Urban
1623,Port Johnbury,2019-03-26 07:22:45,7.63,8089282605778,3,Urban
1624,West Gabriel,2019-05-05 01:24:06,27.57,4428773411209,57,Urban

In [15]:
# Get the number of rides per city.
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
urban_ride_count

city
Amandaburgh            18
Barajasview            22
Carriemouth            27
Christopherfurt        27
Deanville              19
                       ..
West Patrickchester    16
West Robert            31
West Samuelburgh       25
Williamsstad           23
Williamsview           20
Name: ride_id, Length: 66, dtype: int64

In [ ]:
# Get average fare for each city in the urban cities.
urban_avg_fare = urban_cities_df.groupby(['city']).mean()['fare']
suburban_avg_fare = suburban_cities_df.groupby(['city']).mean()['fare']
rural_avg_fare = rural_cities_df.groupby(['city']).mean()['fare']
rural_avg_fare.head()

In [ ]:
# Get the average number of drivers for each urban city.
urban_driver_count = urban_cities_df.groupby(['city']).mean()['driver_count']
suburban_driver_count = suburban_cities_df.groupby(['city']).mean()['driver_count']
rural_driver_count = rural_cities_df.groupby(['city']).mean()['driver_count']
rural_driver_count.head()

In [ ]:
# Build the scatter plots for urban cities.
plt.scatter(urban_ride_count,urban_avg_fare, s=10*urban_driver_count, 
            c='coral',edgecolor='k',linewidths=1,alpha=0.8,label='Urban');
plt.title("PyBer Ride-Sharing Data (2019)")
plt.ylabel("Average Fare ($)")
plt.xlabel("Total Number of Rides (Per City)")
plt.grid(True)
plt.legend();

In [ ]:
plt.scatter(suburban_ride_count,suburban_avg_fare, s=10*suburban_driver_count, 
            c='skyblue',edgecolor='k',linewidths=1,alpha=0.8,label='Suburban');
plt.title("PyBer Ride-Sharing Data (2019)")
plt.ylabel("Average Fare ($)")
plt.xlabel("Total Number of Rides (Per City)")
plt.grid(True)
plt.legend();

In [ ]:
plt.scatter(rural_ride_count,rural_avg_fare, s=10*rural_driver_count, 
            c='gold',edgecolor='k',linewidths=1,alpha=0.8,label='Rural');
plt.title("PyBer Ride-Sharing Data (2019)")
plt.ylabel("Average Fare ($)")
plt.xlabel("Total Number of Rides (Per City)")
plt.grid(True)
plt.legend();

In [ ]:
#combine our three scatter
plt.subplots(figsize=(10,6))
plt.scatter(urban_ride_count,urban_avg_fare, s=10*urban_driver_count, 
            c='coral',edgecolor='k',linewidths=1,alpha=0.8,label='Urban');
\
plt.scatter(suburban_ride_count,suburban_avg_fare, s=10*suburban_driver_count, 
            c='skyblue',edgecolor='k',linewidths=1,alpha=0.8,label='Suburban');
\
plt.scatter(rural_ride_count,rural_avg_fare, s=10*rural_driver_count, 
            c='gold',edgecolor='k',linewidths=1,alpha=0.8,label='Rural');
plt.title("PyBer Ride-Sharing Data (2019)", fontsize=20)
plt.ylabel("Average Fare ($)",fontsize=12)
plt.xlabel("Total Number of Rides (Per City)",fontsize=12)
plt.grid(True)
#plt.legend();
#modify the legend
lgnd = plt.legend(fontsize=12, mode="Expanded",scatterpoints=1,loc='best',title="City Types")
lgnd.legendHandles[0]._sizes =[75]
lgnd.legendHandles[1]._sizes =[75]
lgnd.legendHandles[2]._sizes =[75]
lgnd.get_title().set_fontsize(12)

#include text label about the circle size
plt.text(42, 35, "Note: Circle size correlates with driver count per city.", fontsize="12")
plt.savefig("analysis/Fig1.png")
plt.show();
#save bubble chart

In [ ]:
# Get summary statistics.
urban_ride_count.describe()
suburban_ride_count.describe()
rural_ride_count.describe()

In [ ]:
# Calculate the mean of the ride count for each city type.
round(urban_ride_count.mean(),2)
round(suburban_ride_count.mean(),2)
round(rural_ride_count.mean(),2)

In [ ]:
# Calculate the median of the ride count for each city type.
round(urban_ride_count.median(),2)
#round(suburban_ride_count.median(),2)
#round(rural_ride_count.median(),2)

In [ ]:
# Calculate the mode of the ride count for each city type.
#round(urban_ride_count.mode(),2)
round(suburban_ride_count.mode(),2)
#round(rural_ride_count.mode(),2)

In [ ]:
# Import NumPy and the stats module from SciPy.
import numpy as np
import scipy.stats as sts

In [ ]:
# Calculate the measures of central tendency for the ride count for the urban cities.
mean_urban_ride_count = np.mean(urban_ride_count)
print(f"The mean for the ride counts for urban trips is {mean_urban_ride_count:.2f}.")
median_urban_ride_count = np.median(urban_ride_count)
print(f"The median for the ride counts for urban trips is {median_urban_ride_count: .2f}.")
mode_urban_ride_count = sts.mode(urban_ride_count)
print(f"The mode for the ride counts for urban trips is {mode_urban_ride_count}.")

mean_suburban_ride_count = np.mean(suburban_ride_count)
print(f"The mean for the ride counts for suburban trips is {mean_suburban_ride_count:.2f}.")
median_suburban_ride_count = np.median(suburban_ride_count)
print(f"The median for the ride counts for suburban trips is {median_suburban_ride_count: .2f}.")
mode_suburban_ride_count = sts.mode(suburban_ride_count)
print(f"The mode for the ride counts for suburban trips is {mode_suburban_ride_count}.")

mean_rural_ride_count = np.mean(rural_ride_count)
print(f"The mean for the ride counts for rural trips is {mean_rural_ride_count:.2f}.")
median_rural_ride_count = np.median(rural_ride_count)
print(f"The median for the ride counts for rural trips is {median_rural_ride_count: .2f}.")
mode_rural_ride_count = sts.mode(rural_ride_count)
print(f"The mode for the ride counts for rural trips is {mode_rural_ride_count}.")

In [ ]:
# Get the fares for the urban cities.
urban_fares = urban_cities_df["fare"]
suburban_fares = suburban_cities_df["fare"]
rural_fares = rural_cities_df["fare"]
rural_fares.head()

In [ ]:
# Calculate the measures of central tendency for the average fare for the urban cities.
mean_urban_fares = np.mean(urban_fares)
print(f"The mean fare price for urban trips is ${mean_urban_fares:.2f}.")
median_urban_fares = np.median(urban_fares)
print(f"The median fare price for urban trips is ${median_urban_fares:.2f}.")
mode_urban_fares = sts.mode(urban_fares)
print(f"The mode fare price for urban trips is {mode_urban_fares}.")

mean_suburban_fares = np.mean(suburban_fares)
print(f"The mean fare price for suburban trips is ${mean_suburban_fares:.2f}.")
median_suburban_fares = np.median(suburban_fares)
print(f"The median fare price for suburban trips is ${median_suburban_fares:.2f}.")
mode_suburban_fares = sts.mode(suburban_fares)
print(f"The mode fare price for suburban trips is {mode_suburban_fares}.")

mean_rural_fares = np.mean(rural_fares)
print(f"The mean fare price for rural trips is ${mean_rural_fares:.2f}.")
median_rural_fares = np.median(rural_fares)
print(f"The median fare price for rural trips is ${median_rural_fares:.2f}.")
mode_rural_fares = sts.mode(rural_fares)
print(f"The mode fare price for rural trips is {mode_rural_fares}.")

In [ ]:
# Get the driver count data from the urban cities.
urban_drivers = urban_cities_df['driver_count']
suburban_drivers = suburban_cities_df['driver_count']
rural_drivers = rural_cities_df['driver_count']

In [ ]:
mean_urban_drivers = np.mean(urban_drivers)
print(f"The mean driver count for urban trips is{mean_urban_drivers: .0f}.")
median_urban_drivers = np.median(urban_drivers)
print(f"The median driver count for urban trips is{median_urban_drivers: .0f}.")
mode_urban_drivers = sts.mode(urban_drivers)
print(f"The mode driver count for urban trips is{mode_urban_drivers}.")

mean_suburban_drivers = np.mean(suburban_drivers)
print(f"The mean driver count for suburban trips is{mean_suburban_drivers: .0f}.")
median_suburban_drivers = np.median(suburban_drivers)
print(f"The median driver count for suburban trips is{median_suburban_drivers: .0f}.")
mode_suburban_drivers = sts.mode(suburban_drivers)
print(f"The mode driver count for suburban trips is{mode_suburban_drivers}.")

mean_rural_drivers = np.mean(rural_drivers)
print(f"The mean driver count for rural trips is{mean_rural_drivers: .0f}.")
median_rural_drivers = np.median(rural_drivers)
print(f"The median driver count for rural trips is{median_rural_drivers: .0f}.")
mode_rural_drivers = sts.mode(rural_drivers)
print(f"The mode driver count for rural trips is{mode_rural_drivers}.")

In [ ]:
# Create a box-and-whisker plot for the urban cities ride count.
x_labels = ["Urban"]
fig, ax = plt.subplots()
ax.boxplot(urban_ride_count, labels=x_labels)
# Add the title, y-axis label and grid.
ax.set_title('Ride Count Data (2019)')
ax.set_ylabel('Number of Rides')
ax.set_yticks(np.arange(10, 41, step=2.0))
ax.grid()
plt.show()

In [ ]:
# Add all ride count box-and-whisker plots to the same graph.
x_labels = ["Urban", "Suburban","Rural"]
ride_count_data = [urban_ride_count, suburban_ride_count, rural_ride_count]
fig, ax = plt.subplots(figsize=(10, 6))
ax.set_title('Ride Count Data (2019)',fontsize=20)
ax.set_ylabel('Number of Rides',fontsize=14)
ax.set_xlabel("City Types",fontsize=14)
ax.boxplot(ride_count_data, labels=x_labels)
ax.set_yticks(np.arange(0, 45, step=3.0))
ax.grid()
# Save the figure.
plt.savefig("analysis/Fig2.png")
plt.show()

In [ ]:
# Get the city that matches 39.
urban_city_outlier = urban_ride_count[urban_ride_count==39].index[0]
print(f"{urban_city_outlier} has the highest rider count.")

In [ ]:
# Create a box-and-whisker plot for the urban fare data.
x_labels = ["Urban"]
fig, ax = plt.subplots()
ax.boxplot(urban_fares, labels=x_labels)
# Add the title, y-axis label and grid.
ax.set_title('Ride Fare Data (2019)')
ax.set_ylabel('Fare($USD)')
ax.set_yticks(np.arange(0, 51, step=5.0))
ax.grid()
plt.show()
print("Summary Statistics")
urban_fares.describe()

In [ ]:
# Create the box-and-whisker plot for the urban driver count data.
x_labels = ["Urban"]
fig, ax = plt.subplots()
ax.boxplot(urban_drivers,labels=x_labels)
# Add the title, y-axis label and grid.
ax.set_title('Driver Count Data (2019)')
ax.set_ylabel('Number of Drivers)')
ax.set_yticks(np.arange(0, 90, step=5.0))
ax.grid()
plt.show()
print("Summary Statistics")
urban_drivers.describe()

In [ ]:
# Get the sum of the fares for each city type.
sum_fares_by_type = pyber_data_df.groupby(["type"]).sum()["fare"]
sum_fares_by_type

In [ ]:
# Get the sum of all the fares.
total_fares = pyber_data_df["fare"].sum()
total_fares

In [ ]:
# Calculate the percentage of fare for each city type.
type_percents = 100 * sum_fares_by_type / total_fares
type_percents

In [ ]:
# Build the percentage of fares by city type pie chart.
plt.pie(type_percents, labels=["Rural", "Suburban", "Urban"])
plt.show()

In [ ]:
#build the fares by city pie chart and reformat
import matplotlib as mpl
plt.subplots(figsize=(10,6))
plt.pie(type_percents,labels=["Rural","Suburban","Urban"], colors=["gold","lightskyblue","lightcoral"],
        explode=[0,0,0.1],autopct='%1.1f%%',shadow=True,startangle=150)
plt.title("% of Total Fares by City Type")
mpl.rcParams['font.size']=14
plt.savefig("analysis/Fig5.png")
plt.show()

In [ ]:
pyber_data_df.groupby(["type"]).count()["ride_id"]

In [ ]:
pyber_data_df["ride_id"].count()

In [ ]:
# Calculate the percentage of rides for each city type.
ride_percents = 100 * pyber_data_df.groupby(["type"]).count()["ride_id"] / pyber_data_df["ride_id"].count()
ride_percents

In [ ]:
# Build percentage of rides by city type pie chart.
plt.subplots(figsize=(10,6))
plt.pie(ride_percents,labels=["Rural", "Suburban","Urban"],colors=["gold","lightskyblue","lightcoral"],
       explode=[0,0,.1],autopct='%1.1f%%', shadow=True,startangle=150)
plt.title("% of Total Rides by City Type")
mpl.rcParams['font.size']=14
plt.savefig('analysis/Fig6.png')
plt.show()

In [ ]:
driver_percents= city_data_df.groupby(['type']).sum()['driver_count']/city_data_df['driver_count'].sum()*100
driver_percents

In [ ]:
plt.subplots(figsize=(10,6))
plt.pie(driver_percents,labels=["Rural","Suburban","Urban"],colors=["gold","lightskyblue","lightcoral"],
       explode=[0,0,.1], autopct='%1.1f%%',shadow=True,startangle=150)
plt.title("% of Total Drivers by City Type")
mpl.rcParams['font.size']=14
plt.savefig("analysis/Fig7.png")
plt.show()